body{
    background-color: azure;
    margin: 0;
}
a {
    color: inherit;
}

.topbar a {
    text-decoration: none;
}

.topbar {
    background: rgb(106, 135, 197);
    color: #fff;

}
.topbar-logo {
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 11px 0;
} 

.topbar-nav {
    text-align: center;
    padding-bottom: 16px;
}

.topbar-nav a {
    display: inline-block;
    margin-right: 24px;
    color: rgba(255, 255, 255, 0.67);
    transition: color .3s;
}

.topbar-nav a:hover {
    color: #FFF;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col{
    flex: 600px;
    margin-right: 12px;
    margin-left: 12px;
    display: inline-block;
}

.sol{
    background-color: darkgrey;
    margin: 5px;
    
}

.corp{
    border: solid 2px white;
    margin: 23px;
    background-color: #fff;
}

.row img{
   
    border: solid rgb(235, 223, 223);
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px;
    background-color: #FFF;
}
.col h1{
    text-align: center;
color: #2C3E50;
}
.respo{

    width: 87%;
    height: auto;
    max-width: 400px;
}

.ok img{
    margin-top: 10px;
    width: 25%;
    height: 200px;
   
}
select{
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 5px;
    width: 101%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ok{
    margin-right:10px;
    margin-left: 10px;
    max-width: 100%;
    padding: 15px;
    text-align: center;
    border: solid 2px white;
    margin-top: 10px;
    background-color: rgb(211, 214, 214);
}

.col-2 a{
    display:inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #95b3da;
    color: #fff;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    transition: background 0.5s;
}


.ok h1{
    color: white;
}

input{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 0;
}

.oks{
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    padding-right:10px ;
    opacity: 0.8;
    
}

.form-container{
    max-width: 100%;
    padding: 10px;
}

.open-button{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 40px;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    
}

.form-container .oks:hover{
    opacity: 2;
}

.la{
    margin-top: 10px;
    padding-bottom: 10px;
    display: none;
    margin-bottom: 10px;
    right: 15px;
    z-index: 9;
}

.text{
    text-align: center;
    padding: 23px;
    max-width: 80%;
    opacity: 0.8;
    margin-right: 23px;
    background-color: rgb(143, 172, 173);
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 40px  40px 0 0;
}

.text h1{
    font-size: 40px;
    color: rgb(65, 65, 65);
}

.text p{
    font-size: 20px;
    color: white;
}

.cancel{
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    opacity: 0.8;
}

.mi{
    background-color: rgb(239, 248, 248);
    border: solid gray;
    margin: 13px;
}